*   {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    background-color: lightcoral;
    margin: 30px;
    margin: 10px 30px 60px 100px ;

}
div{
    background-color: aqua;
    margin: 20px;
    padding: 10px;
}
p{
    background-color: pink;
    margin: 10px;
    padding: 20px;
}
.box    {
    background-color: rgb(81, 221, 31);
    padding: 10px 30px 50px 5px; /* se colocan los cuatro valores sentido horario, top, right, bottom, left; esto es un atajo*/
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-color: red  blue pink yellow;/* si se escriben los cuatro colores esto se toman en sentido horario, top rigth bottom left */
    border-style: solid;
    border-width: 8px;

}