h1{
    color: #b1e121;
    background-color: black;
    padding: 30px 30px 30px 30px;
}
.box{   
    background-color: black;
    color: yellow;
    margin: 10px 40px 60px 100px;
    padding: 20px 20px 20px 20px;
}
div{
    background-color: darkorange;
    margin: 25px 50px 25px 25px;
    padding: 20px 20px 20px 20px;
    border-color: black;
    border-style: solid;
    border-width: 10px 15px 20px 25px;
    border-color: red green blue black;
    max-width: 700px;
    min-width: 100px;


}